<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Form/ survey
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">survey</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card class="Questioncard1">
        <ion-card-subtitle class="Question1"> What is stressing you out?</ion-card-subtitle>
        <ion-card class="Answercard">
            <ion-input type="text" text-right id="input" [(ngModel)]="inputValue1"> Answer: </ion-input>
        </ion-card>
    </ion-card>



    <ion-card class="Questioncard2">
        <ion-card-subtitle class="Question1"> What can I change in your class to help?</ion-card-subtitle>
        <ion-card class="Answercard">
            <ion-input type="text" text-right id="input" [(ngModel)]="inputValue2"> Answer: </ion-input>
        </ion-card>
    </ion-card>


    <ion-button (click)="someFunction()"> Send </ion-button>

    <p >
        You sent: {{printing.printvalue1}}{{printing.printvalue2}}
    </p>


</ion-content>