ion-card {
    border-radius: 50px 20px;
}

#mainCard {
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 30px;
    height: 300px;
}

#questionCard {
    left: 300px;
    color: blue;
}