<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Form/ survey
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">survey</ion-title>
        </ion-toolbar>
    </ion-header>



    <ion-item>
        <ion-label position="stacked">First question

        </ion-label>
        <ion-input required type="text">are you stressed out</ion-input>
    </ion-item>


    <ion-item>
        <ion-label position="stacked">second question

        </ion-label>
        <ion-input required type="text">why are you stressed out?</ion-input>
    </ion-item>


    <ion-item>
        <ion-label position="stacked">third question

        </ion-label>
        <ion-input required type="text">have you tried any stress reliving tips?</ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">fourth question

        </ion-label>
        <ion-input required type="text"> have you though about your actions??</ion-input>
    </ion-item>


    <ion-item>
        <ion-label position="stacked">fifith question

        </ion-label>
        <ion-input required type="text">while stressed out have you said or done somthing to hurt one feelings?</ion-input>
    </ion-item>

</ion-content>