/* Rectangle 1 */

.teacher {
    position: absolute;
    width: 257px;
    height: 74px;
    left: 91px;
    top: 394px;
    background: #C4C4C4;
}

.teacherTXT {
    position: absolute;
    width: 131px;
    height: 49px;
    left: 154px;
    top: 407px;
    font-family: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 121.5%;
    /* identical to box height, or 49px */
    letter-spacing: -0.015em;
    color: #000000;
}

.Student {
    /* Student */
    position: absolute;
    width: 128px;
    height: 49px;
    left: 154px;
    top: 519px;
    font-family: normal;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 121.5%;
    /* identical to box height, or 49px */
    letter-spacing: -0.015em;
    color: #000000;
}

.StudentTXT {
    /* Rectangle 2 */
    position: absolute;
    width: 257px;
    height: 74px;
    left: 91px;
    top: 506px;
    background: #4c8dff
}