<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Home</ion-title>
        </ion-toolbar>
    </ion-header>


    <div class="topwithname">
        <h1>Hi Jesse</h1>
    </div>

    <div class="middleimage">
        <img src="./assets/images/placeholder.jpg">
    </div>

    <div class="bottombutton">
        <ion-button routerLink="Tab2" id="mainbutton"> Get started
        </ion-button>

    </div>


</ion-content>