<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Data response
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Data response</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <ion-card-header>

            <ion-card-title>Victor </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            I am stressed out by all the work I have to do.
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>

            <ion-card-title>drake </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            I am stressed out by the music I have to make.
        </ion-card-content>
    </ion-card>



    <ion-card>
        <ion-card-header>

            <ion-card-title>Jesse </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            I am stressed out by all the work today.
        </ion-card-content>
    </ion-card>




</ion-content>